@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import "./variables.scss";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $bgMainColor1;
}

.container {
    width: 80%;
    margin: auto;
}

.container-70 {
    width: 70%;
    max-width: 900px;
    margin: auto;
}

.container-60 {
    width: 60%;
    margin: auto;
}

.container-50 {
    width: 50%;
}

.container-40 {
    width: 40%;
}

.btn {
    background-color: $bgMainColor1;
    padding: 5px 25px;
    border: 2px solid #80ABAE;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bold;
    color: $mainTextColor4;
    cursor: pointer;
    transition: all 0.5s;

    i {
        font-size: 10px;
        margin-left: 5px;
    }
}