// text colors
$mainTextColor1 : #6D6E71;
$mainTextColor2 : #A6A6A6;
$mainTextColor3 : #000000;
$mainTextColor4 : #2D2A2B;

// background colors
$bgMainColor1 : #FFFFFF26;

// colors
.blue {
    color: #69A9AA;
}
.lightgreen {
    color: #C2BF7D;
}
.orange {
    color: #E5A85A;
}
.pink {
    color: #F7BCA8;
}
.yellow {
    color: #EEC681;
}
.green {
    color: #80ABAE;
}